.header
{
    font-size: 50px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.screen
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}

.screen-one
{
    height: 800px;
    width: 400px;
    background-color: #0a0c2b;
    color: rgb(255, 255, 255);
    box-shadow: -12px 15px 39px -3px rgba(0,0,0,0.79);
    margin-top:30px;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
}
.screen-header
{
    border-bottom:1px solid black;
    padding: 20px;
    display: flex;
    flex-direction: row;
    
}
.username
{
    padding: 20px;
    font-weight: bolder;
}
.icon
{
    border-radius: 100px;
    border: 2pc solid rgb(78, 109, 174);
    height: 1px;
    width: 1px;
}

.chat-screen
{
    height: 100%;
    width:100% ;
    border-radius: 31px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.chat-items
{
    height: 580px;
    width: 370px;
    background-color:  #0a0c2b;
    border-radius: 40px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content:end;
}
.text-update
{
    width: 200px;
    height: 20px;
    padding: 10px;
    border-radius: 50px;
    background-color: antiquewhite;
    margin-bottom: 10px;
    margin-right: 10px;
    color: black;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.text-update-one
{
    width: 200px;
    height: 20px;
    padding: 10px;
    border-radius: 50px;
    background-color: antiquewhite;
    margin-bottom: 10px;
    margin-left: 10px;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.time-update
{
    font-size: 10px;
    margin-left: 170px;
    display: flex;
    flex-direction: column;
    background-color: crimson;
}
.cross
{
    background-color: rgb(174, 124, 221);
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    border-radius: 10px;
}
.chat-box
{
    display: flex;
    flex-direction: row;
    width: 335px;
    height: 50px;
    border-radius: 164px;
    padding: 5px;
    justify-content: space-between;
    margin-top: -20px;
}
.chat{
    
    width: 400px;
    padding: 10px;
    border-radius: 50px;
}
.send-icon
{
    height: 50px;
    width: 50px;
}